<ul>
  <span class="comment"><%= comment.content %></span>
  <span class="timestamp">
    Commented <%= time_ago_in_words(comment.created_at) %> ago by 
    <% if comment.user.nil? %>
      <b>an outlaw</b>
    <% elsif !current_user?(comment.user) %>
      <%= link_to comment.user.name, comment.user %>
    <% else %>
      <%= link_to 'you', comment.user %>
    <% end %>
  </span>
  <%= render 'shared/delete', object: comment %>
</ul>