<li>
  <span class="comment"><%= comment.content %></span>
  <span class="timestamp">
    Commented <%= time_ago_in_words(comment.created_at) %> ago by 
    <% if !current_user?(comment.user) %>
      <%= link_to comment.user.name, comment.user %>
    <% else %>
      <%= link_to 'you', comment.user %>
    <% end %>
  </span>
  <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" }, title: comment.content %>
  <% end %>
</li>