<li>
  <span class="title"><b><%= link_to snippet.title, snippet %></b></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(snippet.created_at) %> ago by 
    <% if !current_user?(snippet.user) %>
      <%= link_to snippet.user.name, snippet.user %>
    <% else %>
      <%= link_to 'you', snippet.user %>
    <% end %>
  </span>
  <%= render 'shared/delete', object: snippet %>
</li>