<% provide(:title, @snippet.title) %>
<div class="container">
  <h4><%= @snippet.title %></h4>
  <h5>
  posted <%= time_ago_in_words(@snippet.created_at) %> ago by 
  <% if !current_user?(@snippet.user) %>
    <%= link_to @snippet.user.name, @snippet.user %>
  <% else %>
    <%= link_to 'you', @snippet.user %>
  <% end %>
  <%= render 'shared/delete', object: @snippet %>
  </h5>
  <pre><%= @snippet.content %></pre>
</div>
<div class="container">
  <% if signed_in? %>
    <div class="left">
      <section>
        <%= render 'shared/comment_form' %>
      </section>
    </div>
  <% end %>
  <% if @comments.any? %>
    <h3>comments (<%= @comments.count %>)</h3>
    <ol class="comments">
      <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
  <% else %>
    <h3>comments (0)</h3>
  <% end %>
</div>