<%= form_for(@snippet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title..." %>
    <%= f.text_area :content, placeholder: "Compose new snippet...", rows: 10 %>
  </div>
  <div class="center"><%= f.submit "Snip it", class: "btn btn-large btn-primary" %></div>
<% end %>